footer {
    display: flex;
    background-color:transparent;
    
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }
  .fMenuTitle {
    font-size: 16px;
    background-color: transparent;
  }
  
  .fList {
    padding: 0;
    list-style: none;
    
  }
  
  .footerLeft{
    padding: 20px;
    width: 90%;
    color: rgb(5, 5, 5);
  }
  
  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    
  }
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  * {
    box-sizing: border-box;
    }
